<h1>Listing adults_whatexameds</h1>

<table>
  <tr>
    <th>Reason desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @adults_whatexameds.each do |adults_whatexamed| %>
  <tr>
    <td><%= adults_whatexamed.reason_desc %></td>
    <td><%= link_to 'Show', adults_whatexamed %></td>
    <td><%= link_to 'Edit', edit_adults_whatexamed_path(adults_whatexamed) %></td>
    <td><%= link_to 'Destroy', adults_whatexamed, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Adults whatexamed', new_adults_whatexamed_path %>
