<h1>Listing kojenadult_classes</h1>

<table>
  <tr>
    <th>學生選課級</th>
    <th>學生班級編</th>
    <th>start period</th>
    <th>end period</th>
    <th>學生id</th>
  </tr>

<% @kojenadult_classes.each do |kojenadult_class| %>
  <tr>
    <td><%= kojenadult_class.level %></td>
    <td><%= kojenadult_class.classnumber %></td>
    <td><%= kojenadult_class.start_period %></td>    
    <td><%= kojenadult_class.end_period %></td>    
    <td><%= kojenadult_class.student_id %></td>
    <td><%= link_to 'Show', kojenadult_class %></td>
    <td><%= link_to 'Edit', edit_kojenadult_class_path(kojenadult_class) %></td>
    <td><%= link_to 'Destroy', kojenadult_class, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @kojenadult_classes %>

<%= link_to '輸入新的學生選課資料', new_kojenadult_class_path %>