<h1>Listing adults_separates</h1>

<table>
  <tr>
    <th>Reason desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @adults_separates.each do |adults_separate| %>
  <tr>
    <td><%= adults_separate.reason_desc %></td>
    <td><%= link_to 'Show', adults_separate %></td>
    <td><%= link_to 'Edit', edit_adults_separate_path(adults_separate) %></td>
    <td><%= link_to 'Destroy', adults_separate, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Adults separate', new_adults_separate_path %>
