<h1>Listing adults_localexameds</h1>

<table>
  <tr>
    <th>Reason desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @adults_localexameds.each do |adults_localexamed| %>
  <tr>
    <td><%= adults_localexamed.reason_desc %></td>
    <td><%= link_to 'Show', adults_localexamed %></td>
    <td><%= link_to 'Edit', edit_adults_localexamed_path(adults_localexamed) %></td>
    <td><%= link_to 'Destroy', adults_localexamed, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Adults localexamed', new_adults_localexamed_path %>
