<h1>員工帳號登錄管理系統主頁面</h1>
<p>現在時間是 <%= Time.now %></p>
<p><%= current_user.name %> 您好</p>
<p>我們共有<%= pluralize(@total_users, "位已登錄的員工帳號")%></p>
<% if session[:user_id] %>
<%= button_to '進入員工帳號登錄系統', users_path %>
<% end %>
<%= yield %>