<h1>Editing kojenadult</h1>
<% js("sub_area" , "jquery.validate") %>
<% content_for :header do %>
  <script>
    // 前台驗證的語法,需搭配在控制器裏的acton
    /**/
    $.validator.messages.required = "請填寫此欄位";
    $.validator.messages.remote = "請修正此欄位";
    
    jQuery(function($){
      ///$(function() { alert('Ready to do your bidding!'); });     
      //alert($('#student_form').length + ' elements!');      
      $("#student_form").validate({
        rules: {
          "student[student_id]": {
            required: true,
            remote:"/students/student_id_check/"
          }
        },
        messages: {
          "student[student_id]": {
            required:function(){alert("請填寫學生ID....")},
            remote:function(){alert("這學生ID已經被使用....")}
          }
        }
      });
      //輸入前台學生驗證式搭配 remote 資料庫student_id 驗證
      
      $(".date_picker").datepicker({              
        showMonthAfterYear: true,
        dateFormat : 'yy-mm-dd',
        yearRange: '1928:2016',
        changeMonth: true,
        changeYear: true
      });      
      
      $(".main_area , .sub_area").change(function(){
        $("input.road_name_setting").each(function(){
          var temp = $(this).siblings("select.road_name_setting");
          if(($(this).attr("value") + "").length == 0){
            $(this).addClass("hidden").attr("value" , "").attr("name" , "");
            temp.removeClass("hidden").attr("name" , $(this).attr("ref"));
          }else{
            temp.addClass("hidden").attr("name" , "");
            $(this).removeClass("hidden").attr("name" , $(this).attr("ref"));
          }
          temp.find("option:not(.title)").remove();
        })
        
        if($('.main_area').attr("value") != "%" && $('.sub_area').attr("value") != "%"){
          var temp = $('.main_area').attr("value");
          var temp2 = $('.sub_area').attr("value");
          $.get("/maps/area_road_" + temp + "_" + temp2 , null, function(txt){
            $(".road_selector .first_title").html("★請下拉選擇").attr("selected" , "true");
            $(".road_selector").html($(".road_selector").html() + txt);
          });
        }else{
          $(this).siblings("select.road_name_setting").each(function(){
            $(this).find(".first_title").html("★請先選擇地區").attr("selected" , "true");
          })
        }
      })
      //slot吃角子老虎(拉霸)
      $("input.road_name_setting").keyup(function(e){
        if($(this).attr("value").length == 0 && (e.keyCode == 8 || e.keyCode == 46)){
          $(this).addClass("hidden").attr("name" , "");
          $(this).siblings("select.road_name_setting").removeClass("hidden").attr("name" , $(this).attr("ref")).find(".first_title").attr("selected" , "true");
        }else{
          $(this).siblings("select.road_name_setting").addClass("hidden").attr("name" , "");
          $(this).removeClass("hidden").attr("name" , $(this).attr("ref"));
        }
      }).each(function(){
        if($(this).attr("value").length > 1){
          $(this).siblings("select.road_name_setting").addClass("hidden").attr("name" , "");
          $(this).removeClass("hidden").attr("name" , $(this).attr("ref"));
        }else{
          $(this).addClass("hidden").attr("name" , "");
          $(this).siblings("select.road_name_setting").removeClass("hidden").attr("name" , $(this).attr("ref"));
        }
      })
      $("select.road_name_setting").live("change" , function(){
        if($(this).attr("value") == "%"){
          $(this).addClass("hidden").attr("name" , "");
          $(this).siblings("input.road_name_setting").removeClass("hidden").attr("name" , $(this).attr("ref"));
        }else{
          $(this).siblings("input.road_name_setting").addClass("hidden").attr("name" , "");
          $(this).removeClass("hidden").attr("name" , $(this).attr("ref"));
        }
      }).each(function(){
        if($(this).attr("value") == "%"){
          temp = $(this).find(".first_title");
          if(temp[0]){
            temp.attr("selected" , "true");
          }else{
            $(this).find("option:first").attr("selected" , "true");
          }
        }
      })
    })
  </script> 
<% end %>
<%= form_for(@kojenadult, :html => {:id => "kojenadult_form"}) do |f| %> 
  <% if @kojenadult.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kojenadult.errors.count, "error") %> prohibited this kojenadult from being saved:</h2>

      <ul>
        <% @kojenadult.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if @adults_classtypes.present? %>
  <% @adults_classtypes.each do |shit| %>
  etc
  <% end %>
<% end %>

   <div class="field1">
    <%= f.label :adults_classtype, "請輸入課程類別" %><br />
    <%= f.select(:adults_classtype, options_from_collection_for_select(@adults_classtypes, :reason_desc, 'reason_desc', @kojenadult.adults_classtype)) %>
  </div>
  <div class="field2">
      <%= f.label :session_description, "１.請輸入選讀課程" %><br />                        
      <%= f.select(:session_description, options_from_collection_for_select(@adults_session_descriptions, :classname, 'classname', @kojenadult.session_description)) %>      
  </div>
  <div class="field1">
    <%= f.label :adults_refinement_lesson, "請輸入精緻班課程類別" %><br />
    <%= f.select(:adults_refinementlesson, options_from_collection_for_select(@adults_refinement_lessons, :reason_desc, 'reason_desc', @kojenadult.adults_refinementlesson)) %>    
  </div>
  <div class="field2">
    <%= f.label :classnumber, "2.請輸入班級編號" %><br />
    <%= f.text_field :classnumber %>
  </div>  
  <div class="field2">
    <%= f.label :student_id, "３.請輸入學籍號碼" %><br />
    <%= f.text_field :student_id %>
  </div>
  <div class="field1">
    <%= f.label :cname, "４.請輸入中文姓名" %><br />
    <%= f.text_field :cname %>
  </div>
  <div class="field2">
    <%= f.label :ename, "５.請輸入英文名字" %><br />
    <%= f.text_field :ename %>
  </div> 
  <div class="field1">
    <%= f.label :gender, "６.性別" %><br />
    <%=  f.select :gender, [ ["男", "M"], ["女", "F"] ] %>
  </div>
  <div class="field2">
    <%= f.label :birthday, "７.請選擇您的生日" %><br />
    <%= f.text_field :birthday, :class => "date_picker" %>     
  </div>
  <div class="field1">
    <%= f.label :email, "８.請輸入電子郵件" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field2">
    <%= f.label :community_id, "９.請輸入您的身份證號" %><br />
    <%= f.text_field :community_id %>
  </div>
  <div class="field1">
    <%= f.label :address, "10.請輸入您的住址" , :class => "tip" , :title => "請先選區別|再選路段" %><br />
    <%=raw area_select(f) %><%= f.text_field(:road_name , :class => "road_name_setting hidden" , :ref => "#{f.object.class.to_s.downcase}[road_name]") %><select class="road_selector selector road_name_setting" ref="<%= "#{f.object.class.to_s.downcase}[road_name]" %>"><option class="title first_title" value="">★請先選擇地區</option><option class="title" value="%">★自訂輸入</option></select><%= f.text_field :address %>
  </div>
  <div class="field2">
    <%= f.label :telephone, "11.請輸入您的住家電話" %><br />
    <%= f.text_field :telephone %>
  </div>
  <div class="field1">
    <%= f.label :mobile_phone, "12.請輸入您的手機號碼" %><br />
    <%= f.text_field :mobile_phone %>
  </div>
  <div class="field2">
    <%= f.label :parents_phone, "13.請輸入您的家長電話號碼" %><br />
    <%= f.text_field :parents_phone %>
  </div>
  
  <div class="field1">
    <%= f.label :company, "14.請輸入您就職的公司" %><br />
    <%= f.text_field :company %>
  </div>  
  <div class="field2">
    <%= f.label :graduated, "15.請您勾選您的學歷?" %><br />
    <% @adults_graduateds.each do |gr| %>      
      <%= check_box_tag "kojenadult[adults_graduated_ids][]", gr.id, @kojenadult.adults_graduated.map(&:id).include?(gr.id) %> <%= gr.reason_desc %>
    <% end %>   
    <%= hidden_field_tag 'kojenadult[adults_graduated_ids][]','' %>    
  </div>
  <div class="field1">
    <%= f.label :graduated_other, "其他" %><br />
    <%= f.text_field :graduated_other %>
  </div>
  <div class="field2">
    <%= f.label :company_address, "16.請輸入您公司的地址" %><br />    
    <%= f.text_field :company_address %>
  </div>
  <div class="field1">
    <%= f.label :company_phone, "17.請輸入您公司的電話" %><br />
    <%= f.text_field :company_phone %>
  </div> 
  <div class="field2">
    <%= f.label :howyouknowus, "18.請您勾選您是透過什麼媒體知道我們的?" %><br />
    <% @adults_howyouknowus.each do |how| %>      
      <%= check_box_tag "kojenadult[adults_howyouknowu_ids][]", how.id, @kojenadult.adults_howyouknowu.map(&:id).include?(how.id) %> <%= how.reason_desc %>
    <% end %>   
    <%= hidden_field_tag 'kojenadult[adults_howyouknowu_ids][]','' %>   
  </div>
  <div class="field1">
    <%= f.label :howyouknowus_other, "其他" %><br />
    <%= f.text_field :howyouknowus_other %>
  </div>    
  <div class="field2">
    <%= f.label :whylearn, "19.請問您是在何種動機之下，開始進修美語？" %><br />
    <% @adults_whylearns.each do |wh| %>      
      <%= check_box_tag "kojenadult[adults_whylearn_ids][]", wh.id, @kojenadult.adults_whylearn.map(&:id).include?(wh.id) %> <%= wh.reason_desc %>
    <% end %>   
    <%= hidden_field_tag 'kojenadult[adults_whylearn_ids][]','' %>           
  </div>
  <div class="field1">
    <%= f.label :whylearn_other,"其他"%><br />
    <%= f.text_field :whylearn_other %>
  </div>
  <div class="field2">
    <%= f.label :localexamed, "20.請問您有通過那些本國英語認證考試?" %><br />
    <% @adults_localexameds.each do |lo| %>      
      <%= check_box_tag "kojenadult[adults_localexamed_ids][]", lo.id, @kojenadult.adults_localexamed.map(&:id).include?(lo.id) %> <%= lo.reason_desc %>
    <% end %>   
    <%= hidden_field_tag 'kojenadult[adults_localexamed_ids][]','' %>   
  </div>
  <div class="field1">
    <%= f.label :whatexamed, "21.請問您有通過那些國際英語認證考試?" %><br />
    <% @adults_whatexameds.each do |we| %>      
      <%= check_box_tag "kojenadult[adults_whatexamed_ids][]", we.id, @kojenadult.adults_whatexamed.map(&:id).include?(we.id) %> <%= we.reason_desc %>
    <% end %>   
    <%= hidden_field_tag 'kojenadult[adults_whatexamed_ids][]','' %>   
  </div>
  <div class="field2">
    <%= f.label :whyexamed_other,"其他"%><br />
    <%= f.text_field :whatexamed_other %>
  </div>
  <div class="field1">
    <%= f.label :notice_other, "22.請輸入其他的附註事項" %><br />
    <%= f.text_area :notice_other %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Show', @kojenadult %> |
<%= link_to 'Back', kojenadults_path %>