<h1>Listing kojenadults</h1>

<table>
  <tr>
    <th>Cname</th>
    <th>Ename</th>
    <th>Community</th>
    <th>Student</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kojenadults.each do |kojenadult| %>
  <tr>
    <td><%= kojenadult.cname %></td>
    <td><%= kojenadult.ename %></td>
    <td><%= kojenadult.community_id %></td>
    <td><%= kojenadult.student_id %></td>
    <td><%= link_to 'Show', kojenadult %></td>
    <td><%= link_to 'Edit', edit_kojenadult_path(kojenadult) %></td>
    <td><%= link_to 'Destroy', kojenadult, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Kojenadult', new_kojenadult_path %>
