<!DOCTYPE html>
<html>
  <head>    
  </head>
  <body>
    <h1>列出學生清單</h1>

    <%= form_tag search_kojenadults_path, :method => :get do %>
      <p>
        <%= text_field_tag :query, params[:query] %> <%= submit_tag "搜尋學生資料!" %>
      </p>
    <% end %>
    <b><p id="notice"><%= flash[:notice] %></p></b> 
    <br />
    <br />
    <table> 
      <tr>
        <th>所屬校別</th>          
        <th>學生編號</th>
        <th>中文姓名</th>
        <th>英文姓名</th>
        <th>電子郵件</th>    
        <th>市內電話</th>
        <th>手機號</th>
        <th>家長電話</th>
        <th>公司電話</th>    
      </tr>

      <% @kojenadults.each do |kojenadult| %>  
        <tr>
          <td><%= kojenadult.schoolname %></td>
          <td><%= kojenadult.student_id %></td>
          <td><%= kojenadult.cname %></td>
          <td><%= kojenadult.ename %></td>
          <td><%= kojenadult.email %></td>      
          <td><%= kojenadult.telephone %></td>
          <td><%= kojenadult.mobile_phone %></td>
          <td><%= kojenadult.parents_phone %></td>
          <td><%= kojenadult.company_phone %></td>        
          <td><%= link_to '瀏覽', kojenadult %></td>
          <td><%= link_to '編輯', edit_kojenadult_path(kojenadult) %></td>
          <td><%= link_to '刪除', kojenadult, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
    <br />
    <%= will_paginate @kojenadults %>    
    <%= link_to '輸入新的學生記錄', new_kojenadult_path %>
  </body>
</html>