<p id="notice"><%= notice %></p>
<% @kojenadults.each do |s| %>  
  學生id: <%= s.student_id %> 學生姓名:<%= "#{s.cname} #{s.ename}" %> 電子郵件:<%= "#{s.email}" %> 手機:<%= "#{s.mobile_phone}" %> 建檔日期:<%=
"#{s.created_at}" %> 修改日期: <%= "#{s.updated_at}" %> 學生年齡: <%= "#{s.age}" %> <br/>   
<% end %>
  <%= will_paginate @kojenadults %>
<br />