<p id="notice"><%= notice %></p>
<p>
  <b>學籍號:</b>
  <%= @kojenadult.student_id %>
</p>
<p>
  <b>中文姓名:</b>
  <%= @kojenadult.cname %>
</p>

<p>
  <b>英文名字:</b>
  <%= @kojenadult.ename %>
</p>
<p>
  <b>性別:</b>
  <%= @kojenadult.gender %>
</p>
<p>
  <b>生日:</b>
  <%= @kojenadult.birthday %>
</p>
<p>
  <b>身份證號:</b>
  <%= @kojenadult.community_id %>
</p>
<p>
  <b>您的學歷:</b>
  <% @adults_graduateds.each do |gr| %>      
    <%= check_box_tag "kojenadult[adults_graduated_ids][]", gr.id, @kojenadult.adults_graduated.map(&:id).include?(gr.id) %> <%= gr.reason_desc %>
  <% end %>  
</p>
<p>
  <b>請輸入您學習英文動機的其他理由:</b>
  <% @adults_whylearns.each do |w| %>      
    <%= check_box_tag "kojenadult[adults_whylearn_ids][]", w.id, @kojenadult.adults_whylearn.map(&:id).include?(w.id) %> <%= w.reason_desc %>
  <% end %>
  <br />
  <%= @kojenadult.whylearn_other %>
</p>
<p>  
<%= select_tag '',options_from_collection_for_select(@adults_whylearns, 'id', 'reason_desc') %>
</p>  
<!-- <div>   
  
</div>
-->
<table>
  <!-- @kojenadult_classes.find_by_student_id(kojenadult.id) |kojenadult_class| -->  
  <tr>
    <th>學生id</th>
    <th>身分證號</th>
    <th>中文姓名</th>
    <th>英文姓名</th>
    <th>課程級數</th>
    <th>課程開始時間</th>
    <th>課程結束時間</th>
  </tr>
  <% @kojenadult_classes.each do |kojenadultclass| %>
    <tr>
      <td><%= kojenadultclass.student_id %></td>
      <td><%= @kojenadult.community_id %></td>
      <td><%= @kojenadult.cname %></td>
      <td><%= @kojenadult.ename %></td>      
      <td><%= kojenadultclass.level %> </td> 
      <td><%= kojenadultclass.start_period %></td>
      <td><%= kojenadultclass.end_period %></td>    
    </tr>
  <% end %>
</table>
<%= link_to 'Edit', edit_kojenadult_path(@kojenadult) %> |
<%= link_to 'Back', kojenadults_path %>