<p id="notice"><%= notice %></p>

<p>
  <b>Cname:</b>
  <%= @kojenadult.cname %>
</p>

<p>
  <b>Ename:</b>
  <%= @kojenadult.ename %>
</p>

<p>
  <b>Community:</b>
  <%= @kojenadult.community_id %>
</p>

<p>
  <b>Student:</b>
  <%= @kojenadult.student_id %>
</p>


<%= link_to 'Edit', edit_kojenadult_path(@kojenadult) %> |
<%= link_to 'Back', kojenadults_path %>
