<p id="notice"><%= notice %></p>
<div class="field1">
  <b>所屬校別:</b>
  <%= @kojenadult.schoolname %>   
</div>
<div class="field2">
  <b>課程類別:</b>
  <%= @kojenadult.adults_classtype %>   
</div>
<div class="field1">
  <b>團體班課程類別:</b>
  <%= @kojenadult.session_description %>   
</div>
<div class="field2">
  <b>精緻班課程類別:</b>
  <%= @kojenadult.adults_refinementlesson %>   
</div>
<div class="field1">
  <b>單元班課程類別:</b>
  <%= @kojenadult.adults_unit %>   
</div>
<div class="field2">
  <b>認證班課程類別:</b>
  <%= @kojenadult.adults_license %>   
</div>
<div class="field1">
  <b>個別班課程類別:</b>
  <%= @kojenadult.adults_separate %>   
</div>
<div class="field2">
  <b>日文班課程類別:</b>
  <%= @kojenadult.adults_japan %>   
</div>
<div class="field1">
  <b>Online課程類別:</b>
  <%= @kojenadult.adults_online %>   
</div>
<div class="field2">
  <b>學籍號碼:</b>
  <%= @kojenadult.student_id %>   
</div> 
<div class="field1">
  <b>中文姓名:</b>
  <%= @kojenadult.cname %>
</div>
<div class="field2">
  <b>英文名字:</b>
  <%= @kojenadult.ename %>
</div>
<div class="field1">
  <b>性別:</b>
  <%= @kojenadult.gender %>
</div>
<div class="field2">
  <b>生日:</b>
  <%= @kojenadult.birthday %>
</div>
<div class="field1">
  <b>您的年齡是:</b>
  <%= @kojenadult.age %>
</div>

<div class="field2">
  <b>身份證號碼:</b>
  <%= @kojenadult.community_id %>
</div>
<div class="field1">
  <b>地址:</b>
  <%= area_name(@kojenadult) %><%= @kojenadult.road_name %><%= @kojenadult.address %>  
</div>

<div class="field2">
  <b>您選讀的課程是:</b>
  <%= @kojenadult.session_description %>
</div>
<div class="field1">
  <b>您的學歷:</b>
  <% @adults_graduateds.each do |gr| %>      
    <%= check_box_tag "kojenadult[adults_graduated_ids][]", gr.id, @kojenadult.adults_graduated.map(&:id).include?(gr.id) %> <%= gr.reason_desc %>
  <% end %>  
</div>
<div class="field2">
  <b>您學習英文動機的理由:</b>
  <% @adults_whylearns.each do |w| %>      
    <%= check_box_tag "kojenadult[adults_whylearn_ids][]", w.id, @kojenadult.adults_whylearn.map(&:id).include?(w.id) %> <%= w.reason_desc %>
  <% end %>
  <br />
  <div class="field1">
    <b>您學習英文動機的其他理由是 :</b>
    <%= @kojenadult.whylearn_other %>
  </div>
</div>
<div class="field2">
  <b>您是透過什麼媒體知道我們的?</b>
  <% @adults_howyouknowus.each do |how| %>      
    <%= check_box_tag "kojenadult[adults_howyouknowu_ids][]", how.id, @kojenadult.adults_howyouknowu.map(&:id).include?(how.id) %> <%= how.reason_desc %>
  <% end %>  
</div>

<div class="field1">
  <b>您有通過那些本國英語認證考試?<b/>
    <% @adults_localexameds.each do |lo| %>      
      <%= check_box_tag "kojenadult[adults_localexamed_ids][]", lo.id, @kojenadult.adults_localexamed.map(&:id).include?(lo.id) %> <%= lo.reason_desc %>
    <% end %>      
</div>

<div class="field2">
  <b>您有通過那些國際英語認證考試?<b/>
    <% @adults_whatexameds.each do |we| %>      
      <%= check_box_tag "kojenadult[adults_whatexamed_ids][]", we.id, @kojenadult.adults_whatexamed.map(&:id).include?(we.id) %> <%= we.reason_desc %>
    <% end %>         
</div>

<div class="field1">
  <b>建檔人員 : </b>
  <%= @kojenadult.keyin %>
</div>
<table>  
  <tr>
    <th>學生id</th>
    <th>身分證號</th>
    <th>中文姓名</th>
    <th>英文姓名</th>
    <th>課程級數</th>
    <th>課程開始時間</th>
    <th>課程結束時間</th>
  </tr>
  <% @kojenadult_classes.each do |kojenadultclass| %>
    <tr>
      <td><%= kojenadultclass.student_id %></td>
      <td><%= @kojenadult.community_id %></td>
      <td><%= @kojenadult.cname %></td>
      <td><%= @kojenadult.ename %></td>      
      <td><%= kojenadultclass.level %> </td> 
      <td><%= kojenadultclass.start_period %></td>
      <td><%= kojenadultclass.end_period %></td>    
    </tr>
  <% end %>
</table>
<%= link_to 'Edit', edit_kojenadult_path(@kojenadult) %> |
<%= link_to 'Back', kojenadults_path %>