<h1>Listing childs_session_descriptions</h1>

<table>
  <tr>
    <th>Classname</th>
    <th>Class description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @childs_session_descriptions.each do |childs_session_description| %>
  <tr>
    <td><%= childs_session_description.classname %></td>
    <td><%= childs_session_description.class_description %></td>
    <td><%= link_to 'Show', childs_session_description %></td>
    <td><%= link_to 'Edit', edit_childs_session_description_path(childs_session_description) %></td>
    <td><%= link_to 'Destroy', childs_session_description, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Childs session description', new_childs_session_description_path %>
