<h1>Listing lessonrecords</h1>

<table>
  <tr>
    <th>Cname</th>
    <th>Ename</th>
    <th>Student</th>
    <th>Lesson</th>
    <th>Start period</th>
    <th>End period</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lessonrecords.each do |lessonrecord| %>
  <tr>
    <td><%= lessonrecord.cname %></td>
    <td><%= lessonrecord.ename %></td>
    <td><%= lessonrecord.student_id %></td>
    <td><%= lessonrecord.lesson %></td>
    <td><%= lessonrecord.start_period %></td>
    <td><%= lessonrecord.end_period %></td>
    <td><%= link_to 'Show', lessonrecord %></td>
    <td><%= link_to 'Edit', edit_lessonrecord_path(lessonrecord) %></td>
    <td><%= link_to 'Destroy', lessonrecord, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lessonrecord', new_lessonrecord_path %>
