<!DOCTYPE html>
<html>
  <head>    
  </head>
  <body>
    <p>現在時間是 <%= Time.now %> <%= current_user.name %> 您好</p>
    <h1>列出學生選課紀錄</h1>
    <%= form_tag search_lessonrecords_path, :method => :get do %>
      <p>
        <%= text_field_tag :query, params[:query] %> <%= submit_tag "搜尋" %>
      </p>
    <% end %>      
    <br />
    <br />
    <table>
      <tr>        
        <th>學生編號</th>
        <th>課程名稱</th>
        <th>開始日期</th>
        <th>結束日期</th>
        <th>建檔人員</th>
        <th>所屬分校</th>        
      </tr>

      <% @lessonrecords.each do |lessonrecord| %>
        <tr>          
          <td><%= lessonrecord.student_id %></td>
          <td><%= lessonrecord.lesson %></td>
          <td><%= lessonrecord.start_period %></td>
          <td><%= lessonrecord.end_period %></td>
          <td><%= lessonrecord.keyin %></td>
          <td><%= lessonrecord.schoolname %></td>
          <td><%= link_to '瀏覽', lessonrecord %></td>
          <td><%= link_to '編輯', edit_lessonrecord_path(lessonrecord) %></td>
          <td><%= link_to '刪除', lessonrecord, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
    <br />
    <%= link_to '輸入新的學生選課記錄', new_lessonrecord_path %>
  </body>
</html>