<p id="notice"><%= notice %></p>

<p>
  <b>Cname:</b>
  <%= @lessonrecords.cname %>
</p>

<p>
  <b>Ename:</b>
  <%= @lessonrecords.ename %>
</p>

<p>
  <b>Student:</b>
  <%= @lessonrecords.student_id %>
</p>

<p>
  <b>Lesson:</b>
  <%= @lessonrecords.lesson %>
</p>

<p>
  <b>Start period:</b>
  <%= @lessonrecords.start_period %>
</p>

<p>
  <b>End period:</b>
  <%= @lessonrecords.end_period %>
</p>


<%= link_to 'Edit', edit_lessonrecord_path(@lessonrecords) %> |
<%= link_to 'Back', lessonrecords_path %>
