<p id="notice"><%= notice %></p>

<p>
  <b>學生編號:</b>
  <%= @lessonrecords.student_id %>
</p>

<p>
  <b>課程名稱:</b>
  <%= @lessonrecords.lesson %>
</p>

<p>
  <b>開始日期:</b>
  <%= @lessonrecords.start_period %>
</p>

<p>
  <b>結束日期:</b>
  <%= @lessonrecords.end_period %>
</p>

<p>
  <b>資料建檔人員:</b>
  <%= @lessonrecords.keyin %>
</p>

<p>
  <b>所屬校別:</b>
  <%= @lessonrecords.schoolname %>
</p>


<%= link_to 'Edit', edit_lessonrecord_path(@lessonrecords) %> |
<%= link_to 'Back', lessonrecords_path %>
