<h1>Listing users</h1>
<% if notice %>
<p id="notice" ><%= notice %></p>
<% end %>

<table>
  <tr>
    <th>名稱</th>
    <th>所屬分校</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.schoolname %></td>
    <td><%= link_to '瀏覽', user %></td>
    <td><%= link_to '編輯', edit_user_path(user) %></td>
    <td><%= link_to '刪除', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '建立新的員工號帳', new_user_path %>