<p id="notice"><%= notice %></p>

<p>
  <b>名稱:</b>
  <%= @user.name %>
</p>

<p>
  <b>所屬分校:</b>
  <%= @user.schoolname %>
</p>

<p>
  <b>Hashed password:</b>
  <%= @user.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @user.salt %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
